.collections{
    padding: 9rem 7% 4rem 7%;
}
.collections .collections-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collections .collections-head h3{
    text-align: center;
    font-size: calc(3rem + 0.5vw);
}
.collections .collections-head p{
    text-align: center;
    font-size: calc(0.65rem + 0.5vw);
    margin-top: 0.5rem;
    margin-bottom: 0;
    width: 80%;
    color: #000;
}
.collection-grid{
    margin-top: 4.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.collection-grid .collection-column{
    width: 48%;
}
.collection-grid .collection-column .box{
    margin-bottom: 3rem;
    overflow: hidden;
}
.collection-grid .collection-column .box:last-child{
    margin-bottom: 0;
}
.collection-grid .collection-column .box img{
    width: 100%;
    height: auto;
    transition: scale 0.5s ease;
}
.collection-grid .collection-column .box img:hover{
    scale: 1.05;
}
.collection-grid .collection-column .text-box{
    position: relative;
    padding: 2.5rem 0 2rem 0;
    overflow: visible;
}
.collection-grid .collection-column .text-box p{
    font-size: calc(0.65rem + 0.5vw);
    color: #000;
    font-style: italic;
    margin: 0;
}
.collection-grid .collection-column .text-box span{
    font-size: calc(4rem + 0.5vw);
    color: #000;
    display: block;
    line-height: normal;
    font-family: "CinzelVariable", sans-serif !important;
    position: absolute;
}
.collection-grid .collection-column .text-box .left-quote{
    top: 0;
}
.collection-grid .collection-column .text-box .right-quote{
    right: 32%;
    margin-top: -0.5rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .collections{
        padding: 8.5rem 7% 3.5rem 7%;
    }
    .collections .collections-head h3{
        font-size: calc(2.8rem + 0.5vw);
    }
    .collections .collections-head p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.48rem;
    }
    .collection-grid{
        margin-top: 4rem;
    }
    .collection-grid .collection-column .box{
        margin-bottom: 2.8rem;
    }
    .collection-grid .collection-column .text-box{
        padding: 2.3rem 0 1.8rem 0;
    }
    .collection-grid .collection-column .text-box p{
        font-size: calc(0.6rem + 0.5vw);
    }
    .collection-grid .collection-column .text-box span{
        font-size: calc(3.5rem + 0.5vw);
    }
    .collection-grid .collection-column .text-box .right-quote{
        margin-top: -0.4rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .collections{
        padding: 8rem 7% 3rem 7%;
    }
    .collections .collections-head h3{
        font-size: calc(2.6rem + 0.5vw);
    }
    .collections .collections-head p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.45rem;
    }
    .collection-grid{
        margin-top: 3.5rem;
    }
    .collection-grid .collection-column .box{
        margin-bottom: 2.6rem;
    }
    .collection-grid .collection-column .text-box{
        padding: 2rem 0 1.5rem 0;
    }
    .collection-grid .collection-column .text-box p{
        font-size: calc(0.55rem + 0.5vw);
    }
    .collection-grid .collection-column .text-box span{
        font-size: calc(3.2rem + 0.5vw);
    }
    .collection-grid .collection-column .text-box .right-quote{
        right: 30%;
        margin-top: -0.3rem;
    }
}

@media screen and (max-width: 768px) {
    .collections{
        padding: 2.5rem 1rem 2rem 1rem;
    }
    .collections .collections-head h3{
        font-size: calc(1.4rem + 0.5vw);
    }
    .collections .collections-head p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.3rem;
        width: 100%;
    }
    .collection-grid{
        margin-top: 2.5rem;
    }
    .collection-grid .collection-column{
        width: 100%;
        margin-bottom: 1rem;
    }
    .collection-grid .collection-column .box{
        margin-bottom: 1rem;
    }
    .collection-grid .collection-column .text-box{
        padding: 2.2rem 0 1.5rem 0;
    }
    .collection-grid .collection-column .text-box p{
        font-size: calc(0.9rem + 0.5vw);
    }
    .collection-grid .collection-column .text-box span{
        font-size: calc(3.7rem + 0.5vw);
    }
    .collection-grid .collection-column .text-box .right-quote{
        right: 0;
    }
}