.contact-map{
    padding: 5rem 0 1rem 0;
}
.contact-map .contact-map-head{
    padding: 0 7%;
}
.contact-map h5{
    font-size: calc(3rem + 0.5vw);
}
.contact-map p{
    font-size: calc(0.65rem + 0.5vw);
    margin-top: 1rem;
    margin-bottom: 0;
    width: 50%;
    color: #000;
}
.contact-map .map-box{
    width: 100%;
    height: 60vh;
    margin-top: 3.5rem;
}