.contact-map{
    padding: 5rem 0 1rem 0;
}
.contact-map .contact-map-head{
    padding: 0 7%;
}
.contact-map h5{
    font-size: calc(3rem + 0.5vw);
}
.contact-map p{
    font-size: calc(0.65rem + 0.5vw);
    margin-top: 1rem;
    margin-bottom: 0;
    width: 50%;
    color: #000;
}
.contact-map .map-box{
    width: 100%;
    height: 60vh;
    margin-top: 3.5rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .contact-map{
        padding: 4.5rem 0 0.8rem 0;
    }
    .contact-map h5{
        font-size: calc(2.8rem + 0.5vw);
    }
    .contact-map p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.9rem;
    }
    .contact-map .map-box{
        margin-top: 3rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .contact-map{
        padding: 4rem 0 0.7rem 0;
    }
    .contact-map h5{
        font-size: calc(2.5rem + 0.5vw);
    }
    .contact-map p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.8rem;
    }
    .contact-map .map-box{
        margin-top: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .contact-map{
        padding: 1.5rem 0 0.7rem 0;
    }
    .contact-map .contact-map-head{
        padding: 0 1rem;
    }
    .contact-map h5{
        font-size: calc(1.4rem + 0.5vw);
        font-weight: 600;
    }
    .contact-map p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.8rem;
        width: 100%;
    }
    .contact-map .map-box{
        height: 60vh;
        margin-top: 2rem;
    }
}