.contact-map{
    padding: 3rem 7% 3rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-map .map-box{
    width: 48%;
}
.contact-map .map-box:last-child{
    width: 100%;
    margin-top: 3rem;
}
.contact-map .map-box span{
    display: block;
    font-size: calc(1.8rem + 0.5vw);
    font-family: "CinzelVariable", sans-serif !important;
    font-weight: 600;
    text-transform: uppercase;
}
.contact-map .map-box p{
    font-size: calc(0.65rem + 0.5vw);
    margin-top: 1rem;
    margin-bottom: 0;
    color: #000;
    margin-bottom: 2rem;
}
.contact-map .map-box iframe{
    height: 50vh;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .contact-map{
        padding: 2.7rem 7% 2.8rem 7%;
    }
    .contact-map .map-box:last-child{
        margin-top: 2.5rem;
    }
    .contact-map .map-box span{
        font-size: calc(1.6rem + 0.5vw);
    }
    .contact-map .map-box p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.9rem;
        margin-bottom: 1.9rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .contact-map{
        padding: 2.5rem 7% 2.7rem 7%;
    }
    .contact-map .map-box:last-child{
        margin-top: 2rem;
    }
    .contact-map .map-box span{
        font-size: calc(1.4rem + 0.5vw);
    }
    .contact-map .map-box p{
        font-size: calc(0.52rem + 0.5vw);
        margin-top: 0.8rem;
        margin-bottom: 1.7rem;
    }
}

@media screen and (max-width: 768px) {
    .contact-map{
        padding: 2rem 1rem 0.7rem 1rem;
    }
    .contact-map .map-box{
        width: 100%;
    }
    .contact-map .map-box:last-child{
        margin-top: 0;
    }
    .contact-map .map-box span{
        font-size: calc(1.4rem + 0.5vw);
    }
    .contact-map .map-box p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.8rem;
        margin-bottom: 1.2rem;
    }
    .contact-map .map-box iframe{
        height: 30vh;
        margin-bottom: 2rem;
    }
}