.best-sellers{
    padding: 3rem 7%;
}
.best-sellers h4{
    font-size: calc(3rem + 0.5vw);
}
.best-sellers p{
    font-size: calc(0.65rem + 0.5vw);
    margin-top: 1rem;
    margin-bottom: 0;
    width: 50%;
    color: #000;
}
.sellers-card-row{
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sellers-card-row .seller-card{
    width: 31%;
}
.sellers-card-row .seller-card .card-image{
    overflow: hidden;
}
.sellers-card-row .seller-card img{
    width: 100%;
    height: auto;
    transition: scale 0.5s ease;
}
.sellers-card-row .seller-card img:hover{
    scale: 1.05;
}
.sellers-card-row .seller-card span{
    display: block;
    font-size: calc(2rem + 0.5vw);
    font-family: "CinzelVariable", sans-serif !important;
    margin-top: 1.5rem;
}
.sellers-card-row .seller-card p{
    width: 100%;
    margin-top: 0.8rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .best-sellers{
        padding: 2.5rem 7%;
    }
    .best-sellers h4{
        font-size: calc(2.8rem + 0.5vw);
    }
    .best-sellers p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.9rem;
    }
    .sellers-card-row{
        margin-top: 3rem;
    }
    .sellers-card-row .seller-card span{
        font-size: calc(1.8rem + 0.5vw);
        margin-top: 1.3rem;
    }
    .sellers-card-row .seller-card p{
        margin-top: 0.6rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .best-sellers{
        padding: 2rem 7%;
    }
    .best-sellers h4{
        font-size: calc(2.6rem + 0.5vw);
    }
    .best-sellers p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.7rem;
    }
    .sellers-card-row{
        margin-top: 2.5rem;
    }
    .sellers-card-row .seller-card span{
        font-size: calc(1.6rem + 0.5vw);
        margin-top: 1.1rem;
    }
    .sellers-card-row .seller-card p{
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .best-sellers{
        padding: 0 1rem;
    }
    .best-sellers h4{
        font-size: calc(1.4rem + 0.5vw);
        font-weight: 600;
    }
    .best-sellers p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.8rem;
        width: 100%;
    }
    .sellers-card-row{
        margin-top: 2rem;
    }
    .sellers-card-row .seller-card{
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .sellers-card-row .seller-card span{
        font-size: calc(1.3rem + 0.5vw);
        margin-top: 1rem;
        font-weight: 600;
    }
    .sellers-card-row .seller-card p{
        margin-top: 0.5rem;
    }
}