.about-brand{
    padding: 5rem 7%;
}
.about-brand h1{
    text-align: center;
    font-size: calc(3rem + 0.5vw);
}
.about-brand-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}
.about-brand-container .about-brand-image{
    width: 42%;
    position: relative;
}
.about-brand-container .about-brand-image img{
    width: 100%;
    height: 80vh;
    position: relative;
    z-index: 1;
}
.about-brand-container .about-brand-image .layer{
    width: 99.5%;
    height: 99.6%;
    position: absolute;
    right: -0.8rem;
    bottom: -0.8rem;
    background-color: #d6d6d6;
}
.about-brand-container .about-brand-content{
    width: 50%;
}
.about-brand-container .about-brand-content p{
    font-size: calc(0.65rem + 0.5vw);
    margin-bottom: 1.5rem;
    color: #000;
}
.about-brand-container .about-brand-content p:last-child{
    margin-bottom: 0;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .about-brand{
        padding: 4.5rem 7%;
    }
    .about-brand h1{
        font-size: calc(2.7rem + 0.5vw);
    }
    .about-brand-container{
        margin-top: 2.3rem;
    }
    .about-brand-container .about-brand-image .layer{
        right: -0.75rem;
        bottom: -0.75rem;
    }
    .about-brand-container .about-brand-content p{
        font-size: calc(0.6rem + 0.5vw);
        margin-bottom: 1.4rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .about-brand{
        padding: 4rem 7%;
    }
    .about-brand h1{
        font-size: calc(2.4rem + 0.5vw);
    }
    .about-brand-container{
        margin-top: 2.1rem;
    }
    .about-brand-container .about-brand-image .layer{
        right: -0.7rem;
        bottom: -0.7rem;
    }
    .about-brand-container .about-brand-content p{
        font-size: calc(0.55rem + 0.5vw);
        margin-bottom: 1.3rem;
    }
}