.error{
    padding: 0 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.error h1{
    font-size: calc(3rem + 0.5vw);
    font-weight: 600;
    margin-top: -2rem;
    letter-spacing: 5px;
    text-align: center;
}
.error button{
    font-size: calc(0.65rem + 0.5vw);
    border: none;
    padding: 0.7rem 1.7rem 0.6rem 1.7rem;
    border-radius: 5px;
    background-color: #eae9e9;
    transition: all 0.1s ease;
}
.error button:hover{
    background-color: #d6d6d6;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .error{
        gap: 0.9rem;
    }
    .error h1{
        font-size: calc(2.75rem + 0.5vw);
    }
    .error button{
        font-size: calc(0.6rem + 0.5vw);
        padding: 0.6rem 1.6rem 0.5rem 1.6rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .error{
        gap: 0.8rem;
    }
    .error h1{
        font-size: calc(2.5rem + 0.5vw);
    }
    .error button{
        font-size: calc(0.55rem + 0.5vw);
        padding: 0.5rem 1.5rem 0.45rem 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .error{
        gap: 0.8rem;
    }
    .error h1{
        font-size: calc(1.6rem + 0.5vw);
    }
    .error button{
        font-size: calc(0.9rem + 0.5vw);
        padding: 0.45rem 1rem 0.4rem 1rem;
    }
}