.banner img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}
.banner .slide-content{
    padding: 0 7%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.banner .slide-content span{
    font-family: "CinzelVariable", sans-serif !important;
    font-size: calc(4rem + 0.5vw);
    margin-top: 7rem;
    line-height: 1;
}
.banner .slide-content p{
    font-family: "CinzelVariable", sans-serif !important;
    font-size: calc(0.65rem + 0.5vw);
    width: 29%;
    margin-top: 1.5rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .banner .slide-content span{
        font-size: calc(3.6rem + 0.5vw);
        margin-top: 6.5rem;
    }
    .banner .slide-content p{
        font-size: calc(0.6rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .banner .slide-content span{
        font-size: calc(3.1rem + 0.5vw);
        margin-top: 6.5rem;
    }
    .banner .slide-content p{
        font-size: calc(0.5rem + 0.5vw);
        margin-top: 1.4rem;
    }
}

@media screen and (max-width: 768px) {
    .banner img{
        height: auto;
    }
    .banner .slide-content{
        padding: 0 1rem;
        position: relative;
    }
    .banner .slide-content span{
        font-size: calc(1.4rem + 0.5vw);
        margin-top: -3rem;
        font-weight: 600;
        line-height: normal;
    }
    .banner .slide-content span br{
        display: none;
    }
    .banner .slide-content p{
        font-size: calc(0.9rem + 0.5vw);
        width: 100%;
        color: #000;
        margin-top: 2rem;
    }
}