footer{
    background-image: url('../../assets/images/footer-bg.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}
.footer-content{
    padding: 2rem 7% 2rem 7%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
footer .footer-left{
    width: 17%;
}
footer .footer-right{
    width: 78%;
}
footer img{
    width: 150px;
}
footer .footer-right p{
    font-size: calc(0.9rem + 0.5vw);
    font-family: "CinzelVariable", sans-serif !important;
}
footer .footer-right p:last-child{
    margin: 0;
}
footer .copyright{
    padding: 1rem 7%;
    border-top: 1px solid #fff;
}
footer .copyright p{
    font-size: calc(0.4rem + 0.5vw);
    text-align: center;
    margin: 0;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .footer-content{
        padding: 1.8rem 7% 1.8rem 7%;
    }
    footer img{
        width: 140px;
    }
    footer .footer-right p{
        font-size: calc(0.8rem + 0.5vw);
    }
    footer .copyright{
        padding: 0.95rem 7%;
    }
    footer .copyright p{
        font-size: calc(0.38rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .footer-content{
        padding: 1.6rem 7% 1.6rem 7%;
    }
    footer img{
        width: 130px;
    }
    footer .footer-right p{
        font-size: calc(0.7rem + 0.5vw);
    }
    footer .copyright{
        padding: 0.8rem 7%;
    }
    footer .copyright p{
        font-size: calc(0.35rem + 0.5vw);
    }
}

@media screen and (max-width: 768px) {
    .footer-content{
        padding: 2rem 1rem 2rem 1rem;
        flex-direction: column;
    }
    footer .footer-left{
        width: 100%;
    }
    footer .footer-right{
        width: 100%;
        margin-top: 2.5rem;
    }
    footer img{
        width: 110px;
    }
    footer .footer-right p{
        font-size: calc(1.1rem + 0.5vw);
    }
    footer .copyright{
        padding: 0.8rem 1rem;
    }
    footer .copyright p{
        font-size: calc(0.75rem + 0.5vw);
    }
    footer .copyright p span{
        display: none;
    }
}