.about-founder{
    padding: 2rem 7%;
}
.about-founder .about-founder-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-founder .about-founder-head h2{
    text-align: center;
    font-size: calc(3rem + 0.5vw);
}
.about-founder .about-founder-head p{
    text-align: center;
    font-size: calc(0.65rem + 0.5vw);
    margin-top: 0.5rem;
    margin-bottom: 0;
    width: 80%;
    color: #000;
}
.about-founder-content{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    position: relative;
}
.about-founder-content #founder-background{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: calc(13rem + 0.5vw);
    font-family: "CinzelVariable", sans-serif !important;
    padding-top: 4rem;
    color: #f3f3f3;
}
.about-founder-content .content-box{
    width: 30%;
    position: relative;
    padding-top: 3rem;
}
.about-founder-content .content-box img{
    width: 100%;
    height: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.about-founder-content .content-box p{
    font-size: calc(1.5rem + 0.5vw);
    color: #000;
    margin: 0;
}
.about-founder-content .content-box span{
    font-size: calc(5rem + 0.5vw);
    color: #000;
    display: block;
    line-height: normal;
    font-family: "CinzelVariable", sans-serif !important;
    position: absolute;
}
.about-founder-content .content-box .left-quote{
    top: 0;
}
.about-founder-content .content-box .right-quote{
    right: 0;
    margin-top: -0.5rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .about-founder{
        padding: 1.7rem 7%;
    }
    .about-founder .about-founder-head h2{
        font-size: calc(2.8rem + 0.5vw);
    }
    .about-founder .about-founder-head p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.48rem;
        width: 82%;
    }
    .about-founder-content{
        margin-top: 0.9rem;
    }
    .about-founder-content #founder-background{
        font-size: calc(11rem + 0.5vw);
        padding-top: 3.5rem;
    }
    .about-founder-content .content-box{
        padding-top: 2.5rem;
    }
    .about-founder-content .content-box p{
        font-size: calc(1.3rem + 0.5vw);
    }
    .about-founder-content .content-box span{
        font-size: calc(4.5rem + 0.5vw);
    }
    .about-founder-content .content-box .right-quote{
        margin-top: -0.4rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .about-founder{
        padding: 1.4rem 7%;
    }
    .about-founder .about-founder-head h2{
        font-size: calc(2.6rem + 0.5vw);
    }
    .about-founder .about-founder-head p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.45rem;
        width: 85%;
    }
    .about-founder-content{
        margin-top: 0.7rem;
    }
    .about-founder-content #founder-background{
        font-size: calc(10rem + 0.5vw);
        padding-top: 3rem;
    }
    .about-founder-content .content-box{
        padding-top: 2.3rem;
    }
    .about-founder-content .content-box p{
        font-size: calc(1.2rem + 0.5vw);
    }
    .about-founder-content .content-box span{
        font-size: calc(4rem + 0.5vw);
    }
    .about-founder-content .content-box .right-quote{
        margin-top: -0.4rem;
    }
}